/******************* Layout *******************/
.text-center {
    text-align: center;
}

.fs-40 {
    font-size: 40px;
}

a {
    font-size: 27px;
}

article {
    font-size: 22px;
}

a {
    color: blue;
}